openapi: 3.0.3
info:
  title: Eventify API
  description: API de gestion d'événements, réservations et notifications pour la plateforme Eventify
  version: 1.0.0
  contact:
    email: livius.marica@student.vinci.be

servers:
  - url: https://api.eventify.com
    description: Serveur de production
  - url: https://staging-api.eventify.com
    description: Serveur de staging

tags:
  - name: Users
    description: Gestion des utilisateurs et authentification
  - name: Events
    description: Gestion des événements
  - name: Reservations
    description: Gestion des réservations et billetterie
  - name: Transaction
    description: Gestion des transactions
  - name: Notifications
    description: Gestion des notifications et promotions
  - name: Resale
    description: Gestion des tickets
  - name: Dashboard Service 
    description : dashboard gestion 

paths:
  # ------------------------- USERS -------------------------
  /api/users/register:
    post:
      tags:
        - Users
      summary: Créer un compte utilisateur
      description: Inscription d'un nouvel utilisateur sur la plateforme avec son adresse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - firstName
                - lastName
                - email
                - password
                - phone
                - birthDate
              properties:
                firstName:
                  type: string
                  example: Keyvan
                lastName:
                  type: string
                  example: Nikazm
                email:
                  type: string
                  format: email
                  example: keyvan.nikazm@gmail.com
                password:
                  type: string
                  format: password
                  example: ehelf56DG
                phone:
                  type: string
                  example: "0471050505"
                birthDate:
                  type: string
                  format: date
                  example: "22-03-2001"
                address:
                  type: object
                  description: Adresse postale de l'utilisateur
                  properties:
                    street:
                      type: string
                      example: "Rue de la Loi 16"
                    city:
                      type: string
                      example: "Bruxelles"
                    zipCode:
                      type: string
                      example: "1000"
                    country:
                      type: string
                      example: "Belgique"
      responses:
        '201':
          description: Compte créé avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"               
                  firstName:
                    type: string
                    example: Keyvan
                  lastName:
                    type: string
                    example: Nikazm
                  email:
                    type: string
                    example: keyvan.nikazm@gmail.com
                  phone:
                    type: string
                    example: "0471050505"
                  birthDate:
                    type: string
                    example: "22-03-2001"
                  createdAt:
                    type: string
                    example: "19-11-2025"
                  address:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      street:
                        type: string
                        example: "Rue de la Loi 16"
                      city:
                        type: string
                        example: "Bruxelles"
                      zipCode:
                        type: string
                        example: "1000"
                      country:
                        type: string
                        example: "Belgique"
        '400':
          description: Données invalides
        '409':
          description: Email déjà existant
    
  /api/users/login:
    post:
      tags:
        - Users
      summary: Connexion utilisateur
      description: Authentification d'un utilisateur existant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: keyvan.nikazm@gmail.com
                password:
                  type: string
                  format: password
                  example: ehelf56DG
      responses:
        '200':
          description: Connexion réussie
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"               
                      firstName:
                        type: string
                        example: Keyvan
                      lastName:
                        type: string
                        example: Nikazm
                      email:
                        type: string
                        example: keyvan.nikazm@gmail.com
        '401':
          description: Identifiants incorrects

  /api/users/logout:
    post:
      tags:
        - Users
      summary: Déconnexion utilisateur
      description: Déconnexion de l'utilisateur actuellement connecté
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Déconnexion réussie
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: l'utilisateur n'est plus connecté

  /api/users/me:
    get:
      tags:
        - Users
      summary: Obtenir le profil de l'utilisateur connecté
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Profil récupéré avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"               
                  firstName:
                    type: string
                    example: Keyvan
                  lastName:
                    type: string
                    example: Nikazm
                  email:
                    type: string
                    example: keyvan.nikazm@gmail.com
                  address:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"               
                      street:
                        type: string
                        example: "Rue de la Loi 16"
                      city:
                        type: string
                        example: "Bruxelles"
                      zipCode:
                        type: string
                        example: "1000"
                      country:
                        type: string
                        example: "Belgique"
        '401':
          description: Non autorisé
    
    put:
      tags:
        - Users
      summary: Mettre à jour le profil utilisateur
      description: Modification des informations du profil et de l'adresse
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                  example: Keyvan
                lastName:
                  type: string
                  example: Nikazm
                phone:
                  type: string
                  example: "0471060606"
                birthDate:
                  type: string
                  format: date
                  example: "22-03-2001"
                address:
                  type: object
                  description: Nouvelle adresse de l'utilisateur
                  properties:
                    street:
                      type: string
                      example: "Avenue Louise 50"
                    city:
                      type: string
                      example: "Bruxelles"
                    zipCode:
                      type: string
                      example: "1050"
                    country:
                      type: string
                      example: "Belgique"
      responses:
        '200':
          description: Profil mis à jour
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"               
                  firstName:
                    type: string
                    example: Keyvan
                  lastName:
                    type: string
                    example: Nikazm
                  email:
                    type: string
                    example: keyvan.nikazm@gmail.com
                  phone:
                    type: string
                    example: "0471060606"
                  birthDate:
                    type: string
                    example: "22-03-2001"
                  address:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"               
                      street:
                        type: string
                        example: "Avenue Louise 50"
                      city:
                        type: string
                        example: "Bruxelles"
                      zipCode:
                        type: string
                        example: "1050"
                      country:
                        type: string
                        example: "Belgique"
        '400':
          description: Données invalides
        '401':
          description: Non autorisé

    delete:
      tags:
        - Users
      summary: Supprimer le compte utilisateur
      description: Suppression définitive du compte
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Compte supprimé
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: le user a bien été supprimé
        '401':
          description: Non autorisé
        '404':
          description: Utilisateur non trouvé

  /api/users/password:
    put:
      tags:
        - Users
      summary: Modifier le mot de passe utilisateur
      description: Changement du mot de passe
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - oldPassword
                - newPassword
              properties:
                oldPassword:
                  type: string
                  format: password
                  example: ehelf56DG
                newPassword:
                  type: string
                  format: password
                  example: eHDHken56
      responses:
        '200':
          description: Mot de passe modifié
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: le changement de mot de passe a fonctionné
        '400':
          description: Requête invalide
        '401':
          description: Non autorisé

  # ------------------------- EVENTS -------------------------
  /api/events:
    get:
      tags:
        - Events
      summary: Afficher et rechercher les événements
      description: Retourne la liste complète avec les détails de la salle et de la catégorie.
      parameters:
        - name: search
          in: query
          schema:
            type: string
          description: Recherche textuelle dans le titre
        - name: date
          in: query
          schema:
            type: string
            format: date
          description: Filtrer par date de début
        - name: availableOnly
          in: query
          schema:
            type: boolean
          description: Si true, retourne uniquement les événements disponibles
      responses:
        '200':
          description: Liste des événements trouvés
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: PK de l'événement
                    title:
                      type: string
                      example: "Summer Festival"
                    description:
                      type: string
                      example: "Un festival incroyable..."
                    startDate:
                      type: string
                      format: date-time
                      description: Table EVENTS (start_date)
                    endDate:
                      type: string
                      format: date-time
                      description: Table EVENTS (end_date)
                    status:
                      type: string
                      enum: [DRAFT, PUBLISHED, CANCELLED]
                      example: PUBLISHED
                    isAvailable:
                      type: boolean
                      description: Table EVENTS (is_available)
                    venue:
                      type: object
                      description: Détails provenant de la table VENUES
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                          example: "Zénith de Paris"
                        capacity:
                          type: integer
                          description: Table VENUES (capacity)
                          example: 6000
                    category:
                      type: object
                      description: Détails provenant de la table CATEGORIES
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                          description: Table CATEGORIES (name)
                          example: "Concert"
        '400':
          description: Paramètres de requête invalides
        '500':
          description: Erreur serveur
    post:
      tags:
        - Events
      summary: Créer un évènement
      description: Processus inclus - Créer un évènement avec les informations de salle et catégorie.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - startDate
                - endDate
                - venue
                - category
              properties:
                title:
                  type: string
                  example: "Electro Night"
                description:
                  type: string
                  example: "Une soirée inoubliable..."
                startDate:
                  type: string
                  format: date-time
                  example: "2026-11-27T20:00:00Z"
                endDate:
                  type: string
                  format: date-time
                  example: "2026-11-28T02:00:00Z"
                status:
                  type: string
                  enum: [DRAFT, PUBLISHED, CANCELLED]
                  default: DRAFT
                isAvailable:
                  type: boolean
                  description: Indique si l'événement est disponible à la réservation
                  default: false
                  example: true
                venue:
                  type: object
                  required:
                    - name
                    - capacity
                  properties:
                    name:
                      type: string
                      example: "Zénith de Paris"
                    capacity:
                      type: integer
                      example: 6000
                category:
                  type: object
                  required:
                    - name
                  properties:
                    name:
                      type: string
                      example: "Musique"
      responses:
        '201':
          description: Événement créé avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  title:
                    type: string
                    example: "Electro Night"
                  description:
                    type: string
                    example: "Une soirée inoubliable..."
                  startDate:
                    type: string
                    format: date-time
                    example: "2026-11-27T20:00:00Z"
                  endDate:
                    type: string
                    format: date-time
                    example: "2026-11-28T02:00:00Z"
                  status:
                    type: string
                    enum: [DRAFT, PUBLISHED, CANCELLED]
                    example: "DRAFT"
                  isAvailable:
                    type: boolean
                    example: true
                  venue:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      name:
                        type: string
                        example: "Zénith de Paris"
                      capacity:
                        type: integer
                        example: 6000
                  category:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                      name:
                        type: string
                        example: "Musique"
        '400':
          description: Données invalides (dates incohérentes, IDs manquants)

  /api/events/{id}:
    get:
      tags:
        - Events
      summary: Obtenir les détails d'un événement
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Détails complets de l'événement (Table EVENTS)
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  title:
                    type: string
                    example: "Summer Festival"
                  description:
                    type: string
                    example: "Un festival incroyable..."
                  startDate:
                    type: string
                    format: date-time
                  endDate:
                    type: string
                    format: date-time
                  status:
                    type: string
                    enum: [DRAFT, PUBLISHED, CANCELLED]
                  isAvailable:
                    type: boolean
                  venue:
                    type: object
                    description: Détails complets de la salle
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                        example: "Zénith de Paris"
                      capacity:
                        type: integer
                        example: 6000
                  category:
                    type: object
                    description: Détails complets de la catégorie
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                        example: "Concert"
        '404':
          description: Événement non trouvé

    put:
      tags:
        - Events
      summary: Modifier un évènement
      description: Processus inclus - Modifier un évènement. Met à jour les infos générales.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  example: "Electro Night Updated"
                description:
                  type: string
                  example: "Une soirée encore plus incroyable..."
                startDate:
                  type: string
                  format: date-time
                endDate:
                  type: string
                  format: date-time
                venue:
                  type: object
                  properties:
                    name:
                      type: string
                      example: "Zénith de Paris"
                    capacity:
                      type: integer
                      example: 6000
                category:
                  type: object
                  properties:
                    name:
                      type: string
                      example: "Musique"
                status:
                  type: string
                  enum: [DRAFT, PUBLISHED, CANCELLED]
                isAvailable:
                  type: boolean
      responses:
        '200':
          description: Événement mis à jour
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  title:
                    type: string
                    example: "Electro Night Updated"
                  description:
                    type: string
                    example: "Une soirée encore plus incroyable..."
                  startDate:
                    type: string
                    format: date-time
                  endDate:
                    type: string
                    format: date-time
                  status:
                    type: string
                    enum: [DRAFT, PUBLISHED, CANCELLED]
                  isAvailable:
                    type: boolean
                  venue:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                        example: "Zénith de Paris"
                      capacity:
                        type: integer
                        example: 6000
                  category:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                        example: "Musique"
        '404':
          description: Événement non trouvé

    delete:
      tags:
        - Events
      summary: Supprimer un évènement
      description: Processus inclus - Supprimer un évènement.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Événement supprimé avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  message:
                    type: string
                    example: "event deleted"
        '404':
          description: Événement non trouvé

  /api/events/{id}/availability:
    patch:
      tags:
        - Events
      summary: Rendre disponible / indisponible
      description: Processus inclus - Rendre disponible / indisponible un évènement (Champ is_available).
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - isAvailable
              properties:
                isAvailable:
                  type: boolean
                  description: true = Disponible, false = Indisponible
                  example: true
      responses:
        '200':
          description: Statut de disponibilité mis à jour
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  isAvailable:
                    type: boolean

  /api/events/{eventId}/available-seats:
    get:
      tags:
        - Events
      summary: Afficher les places disponibles
      description: Récupère la liste des sièges disponibles pour un événement spécifique
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Liste des places disponibles
          content:
            application/json:
              schema:
                type: object
                properties:
                  eventId:
                    type: string
                    format: uuid
                    example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  eventTitle:
                    type: string
                    example: "Summer Festival"
                  totalCapacity:
                    type: integer
                    example: 6000
                  availableSeats:
                    type: integer
                    example: 1750
                  reservedSeats:
                    type: integer
                    example: 4250
                  seatsByType:
                    type: array
                    description: Détails des places disponibles par type de ticket
                    items:
                      type: object
                      properties:
                        ticketType:
                          type: string
                          enum: [VIP, NORMAL, GOLD, EARLY_BIRD]
                          example: "VIP"
                        price:
                          type: number
                          format: decimal
                          example: 120.00
                        totalSeats:
                          type: integer
                          example: 500
                        availableSeats:
                          type: integer
                          example: 120
                        specificSeats:
                          type: array
                          nullable: true
                          description: Liste des numéros de sièges disponibles (NULL si placement libre)
                          items:
                            type: string
                          example: ["A12", "A13", "B5", "B6"]
        '404':
          description: Événement non trouvé
        '500':
          description: Erreur serveur

  /api/events/{eventId}/seating-plan:
    get:
      tags:
        - Events
      summary: Voir le plan de la salle
      description: Récupère le plan complet de la salle avec l'état de chaque siège (disponible/réservé)
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Plan de la salle avec l'état des sièges
          content:
            application/json:
              schema:
                type: object
                properties:
                  eventId:
                    type: string
                    format: uuid
                    example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  eventTitle:
                    type: string
                    example: "Summer Festival"
                  venueName:
                    type: string
                    example: "Zénith de Paris"
                  seatingType:
                    type: string
                    enum: [ASSIGNED, FREE]
                    example: ASSIGNED
                    description: Type de placement - ASSIGNED (numéroté) ou FREE (libre)
                  sections:
                    type: array
                    description: Sections de la salle
                    items:
                      type: object
                      properties:
                        sectionName:
                          type: string
                          example: "Section A"
                        rows:
                          type: array
                          items:
                            type: object
                            properties:
                              rowName:
                                type: string
                                example: "Row 1"
                              seats:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    seatNumber:
                                      type: string
                                      example: "A12"
                                    status:
                                      type: string
                                      enum: [AVAILABLE, RESERVED, BLOCKED]
                                      example: AVAILABLE
                                    ticketType:
                                      type: string
                                      enum: [VIP, NORMAL, GOLD, EARLY_BIRD]
                                      example: "VIP"
                                    price:
                                      type: number
                                      format: decimal
                                      example: 75.00
        '404':
          description: Événement non trouvé
        '500':
          description: Erreur serveur

  # ------------------------- RESERVATIONS -------------------------
  /api/reservations:
    get:
      tags:
        - Reservations
      summary: Consulter ses réservations
      description: Liste complète des réservations de l'utilisateur connecté avec les détails des sièges
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING, CONFIRMED, CANCELLED]
          description: Filtrer par statut de réservation
      responses:
        '200':
          description: Liste des réservations
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                      example: "a1b2c3d4-5678-90ab-cdef-123456789012"
                    userId:
                      type: string
                      format: uuid
                      example: "user-uuid-123"
                    eventId:
                      type: string
                      format: uuid
                      example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    eventTitle:
                      type: string
                      example: "Summer Festival"
                    status:
                      type: string
                      enum: [PENDING, CONFIRMED, CANCELLED]
                      example: CONFIRMED
                    totalAmount:
                      type: number
                      format: decimal
                      example: 150.50
                    createdAt:
                      type: string
                      format: date-time
                      example: "2025-11-20T10:00:00Z"
                    reservedSeats:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          ticketType:
                            type: string
                            enum: [VIP, NORMAL, GOLD, EARLY_BIRD]
                            example: "VIP"
                          seatNumber:
                            type: string
                            nullable: true
                            example: "A12"
                            description: Numéro de siège ou NULL si placement libre
        '401':
          description: Non autorisé - Token manquant ou invalide
        '500':
          description: Erreur serveur
    
    post:
      tags:
        - Reservations
      summary: Effectuer une réservation
      description: Créer une nouvelle réservation pour un événement avec sélection des sièges
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - eventId
                - status
                - totalAmount
                - reservedSeats
              properties:
                eventId:
                  type: string
                  format: uuid
                  example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                status:
                  type: string
                  enum: [PENDING, CONFIRMED, CANCELLED]
                  default: PENDING
                  example: "PENDING"
                  description: Statut initial de la réservation
                totalAmount:
                  type: number
                  format: decimal
                  example: 150.50
                  description: Montant total de la réservation
                reservedSeats:
                  type: array
                  description: Liste des sièges à réserver (sans les IDs)
                  items:
                    type: object
                    required:
                      - ticketType
                    properties:
                      ticketType:
                        type: string
                        enum: [VIP, NORMAL, GOLD, EARLY_BIRD]
                        example: "VIP"
                        description: Type de ticket
                      seatNumber:
                        type: string
                        nullable: true
                        example: "A12"
                        description: Numéro de siège spécifique ou NULL pour placement libre
      responses:
        '201':
          description: Réservation créée avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: "a1b2c3d4-5678-90ab-cdef-123456789012"
                    description: ID généré automatiquement par le backend
                  userId:
                    type: string
                    format: uuid
                    example: "user-uuid-123"
                    description: Extrait du token JWT
                  eventId:
                    type: string
                    format: uuid
                  status:
                    type: string
                    example: PENDING
                  totalAmount:
                    type: number
                    format: decimal
                    example: 150.50
                  createdAt:
                    type: string
                    format: date-time
                    example: "2025-11-20T10:00:00Z"
                    description: Généré automatiquement par le backend
                  reservedSeats:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                          description: ID généré automatiquement par le backend
                        ticketType:
                          type: string
                          enum: [VIP, NORMAL, GOLD, EARLY_BIRD]
                          example: "VIP"
                        seatNumber:
                          type: string
                          nullable: true
                          example: "A12"
        '400':
          description: Données invalides - Sièges manquants ou format incorrect
        '401':
          description: Non autorisé - Token manquant ou invalide
        '404':
          description: Événement non trouvé
        '409':
          description: Conflit - Un ou plusieurs sièges sont déjà réservés
        '422':
          description: Capacité insuffisante - Plus de places disponibles

  /api/reservations/{id}:
    get:
      tags:
        - Reservations
      summary: Obtenir les détails d'une réservation spécifique
      description: Récupère les informations complètes d'une réservation spécifique
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Détails de la réservation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: "a1b2c3d4-5678-90ab-cdef-123456789012"
                  userId:
                    type: string
                    format: uuid
                  eventId:
                    type: string
                    format: uuid
                  eventTitle:
                    type: string
                    example: "Summer Festival"
                  status:
                    type: string
                    enum: [PENDING, CONFIRMED, CANCELLED]
                    example: CONFIRMED
                  totalAmount:
                    type: number
                    format: decimal
                    example: 150.50
                  createdAt:
                    type: string
                    format: date-time
                  reservedSeats:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        ticketType:
                          type: string
                          enum: [VIP, NORMAL, GOLD, EARLY_BIRD]
                          example: "VIP"
                        seatNumber:
                          type: string
                          nullable: true
                          example: "A12"
        '401':
          description: Non autorisé - Token manquant ou invalide
        '403':
          description: Accès interdit - Cette réservation ne vous appartient pas
        '404':
          description: Réservation non trouvée
    
    delete:
      tags:
        - Reservations
      summary: Annuler une réservation
      description: Annule une réservation existante et libère les sièges réservés
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Réservation annulée avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: "a1b2c3d4-5678-90ab-cdef-123456789012"
                  status:
                    type: string
                    example: CANCELLED
                  message:
                    type: string
                    example: "Reservation cancelled successfully"
        '400':
          description: Impossible d'annuler - Réservation déjà annulée ou confirmée
        '401':
          description: Non autorisé - Token manquant ou invalide
        '403':
          description: Accès interdit - Cette réservation ne vous appartient pas
        '404':
          description: Réservation non trouvée

  

# ------------------------- TRANSACTIONS -------------------------
  /api/transactions:
    post:
      tags:
        - Transaction
      summary: Initier une transaction
      description: Démarre le processus de paiement pour une réservation
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reservationId
                - amount
                - currency
                - paymentMethod
              properties:
                reservationId:
                  type: string
                  format: uuid
                  example: "a1b2c3d4-5678-90ab-cdef-123456789012"
                  description: Référence vers la réservation
                amount:
                  type: number
                  format: decimal
                  example: 150.50
                  description: Montant de la transaction
                currency:
                  type: string
                  example: "EUR"
                  description: Devise de la transaction
                paymentMethod:
                  type: string
                  enum: [STRIPE, PAYPAL]
                  example: "STRIPE"
                  description: Méthode de paiement utilisée
      responses:
        '201':
          description: Transaction initiée avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: "trans-uuid-123"
                    description: ID de la transaction généré automatiquement
                  reservationId:
                    type: string
                    format: uuid
                  userId:
                    type: string
                    format: uuid
                    description: Extrait du token JWT
                  amount:
                    type: number
                    format: decimal
                    example: 150.50
                  currency:
                    type: string
                    example: "EUR"
                  status:
                    type: string
                    example: "INITIATED"
                    description: Statut initial de la transaction
                  paymentMethod:
                    type: string
                    example: "STRIPE"
                  transactionDate:
                    type: string
                    format: date-time
                    example: "2025-11-28T14:30:00Z"
                  providerTransactionId:
                    type: string
                    nullable: true
                    example: "pi_3N1234567890"
                    description: ID de la transaction chez le provider (Stripe/PayPal)
        '400':
          description: Données invalides - Montant incorrect ou méthode invalide
        '401':
          description: Non autorisé - Token manquant ou invalide
        '404':
          description: Réservation non trouvée
        '409':
          description: Conflit - Transaction déjà existante pour cette réservation

  /api/transactions/{id}:
    get:
      tags:
        - Transaction
      summary: Obtenir le statut d'une transaction
      description: Retourne l'état actuel et les détails d'une transaction
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID de la transaction
      responses:
        '200':
          description: Détails de la transaction
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: "trans-uuid-123"
                  reservationId:
                    type: string
                    format: uuid
                  userId:
                    type: string
                    format: uuid
                  amount:
                    type: number
                    format: decimal
                    example: 150.50
                  currency:
                    type: string
                    example: "EUR"
                  status:
                    type: string
                    enum: [INITIATED, SUCCESS, FAILED, REFUNDED]
                    example: "SUCCESS"
                  paymentMethod:
                    type: string
                    enum: [STRIPE, PAYPAL]
                    example: "STRIPE"
                  transactionDate:
                    type: string
                    format: date-time
                  providerTransactionId:
                    type: string
                    nullable: true
                    example: "pi_3N1234567890"
        '401':
          description: Non autorisé - Token manquant ou invalide
        '403':
          description: Accès interdit - Cette transaction ne vous appartient pas
        '404':
          description: Transaction non trouvée

  /api/transactions/{id}/payment:
    post:
      tags:
        - Transaction
      summary: Effectuer le paiement
      description: Confirme et exécute le paiement d'une transaction initiée
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - paymentToken
              properties:
                paymentToken:
                  type: string
                  example: "tok_visa_1234567890"
                  description: Token de paiement fourni par Stripe/PayPal
                paymentDetails:
                  type: object
                  description: Détails additionnels du paiement (optionnel)
                  properties:
                    cardLast4:
                      type: string
                      example: "4242"
                    cardBrand:
                      type: string
                      example: "Visa"
      responses:
        '200':
          description: Paiement effectué avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    example: "SUCCESS"
                  providerTransactionId:
                    type: string
                    example: "pi_3N1234567890"
                  message:
                    type: string
                    example: "Payment processed successfully"
                  transactionDate:
                    type: string
                    format: date-time
        '400':
          description: Échec du paiement - Token invalide ou paiement refusé
        '401':
          description: Non autorisé - Token manquant ou invalide
        '403':
          description: Accès interdit - Cette transaction ne vous appartient pas
        '404':
          description: Transaction non trouvée
        '409':
          description: Conflit - Transaction déjà payée ou annulée

  /api/transactions/{id}/cancel:
    post:
      tags:
        - Transaction
      summary: Annuler une transaction
      description: Annule une transaction initiée qui n'a pas encore été payée
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  example: "Client cancelled the reservation"
                  description: Raison de l'annulation (optionnel)
      responses:
        '200':
          description: Transaction annulée avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: "trans-uuid-123"
                  status:
                    type: string
                    example: "FAILED"
                  message:
                    type: string
                    example: "Transaction cancelled successfully"
        '400':
          description: Impossible d'annuler - Transaction déjà payée ou remboursée
        '401':
          description: Non autorisé - Token manquant ou invalide
        '403':
          description: Accès interdit - Cette transaction ne vous appartient pas
        '404':
          description: Transaction non trouvée

  /api/transactions/{id}/refund:
    post:
      tags:
        - Transaction
      summary: Rembourser une transaction
      description: Effectue le remboursement d'une transaction payée
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  format: decimal
                  nullable: true
                  example: 75.25
                  description: Montant à rembourser (NULL = remboursement total)
                reason:
                  type: string
                  example: "Event cancelled"
                  description: Raison du remboursement
      responses:
        '200':
          description: Remboursement effectué avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    example: "REFUNDED"
                  refundAmount:
                    type: number
                    format: decimal
                    example: 150.50
                  providerTransactionId:
                    type: string
                    example: "re_3N1234567890"
                  message:
                    type: string
                    example: "Refund processed successfully"
        '400':
          description: Impossible de rembourser - Transaction non payée ou déjà remboursée
        '401':
          description: Non autorisé - Token manquant ou invalide
        '403':
          description: Accès interdit - Cette transaction ne vous appartient pas
        '404':
          description: Transaction non trouvée
        '422':
          description: Montant de remboursement invalide

  /api/invoices/{transactionId}:
    post:
      tags:
        - Transaction
      summary: Générer une facture
      description: Génère une facture PDF pour une transaction réussie
      security:
        - bearerAuth: []
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID de la transaction
      responses:
        '201':
          description: Facture générée avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: "invoice-uuid-123"
                    description: ID de la facture généré automatiquement
                  transactionId:
                    type: string
                    format: uuid
                  invoiceNumber:
                    type: string
                    example: "INV-2025-001234"
                    description: Numéro unique de facture
                  pdfUrl:
                    type: string
                    example: "https://storage.eventify.com/invoices/INV-2025-001234.pdf"
                    description: URL de téléchargement du PDF
                  generatedAt:
                    type: string
                    format: date-time
                    example: "2025-11-28T14:35:00Z"
        '400':
          description: Facture déjà existante pour cette transaction
        '401':
          description: Non autorisé - Token manquant ou invalide
        '403':
          description: Accès interdit - Cette transaction ne vous appartient pas
        '404':
          description: Transaction non trouvée
        '422':
          description: Transaction non payée - Impossible de générer une facture

    get:
      tags:
        - Transaction
      summary: Récupérer une facture
      description: Obtient les détails d'une facture existante
      security:
        - bearerAuth: []
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Détails de la facture
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  transactionId:
                    type: string
                    format: uuid
                  invoiceNumber:
                    type: string
                    example: "INV-2025-001234"
                  pdfUrl:
                    type: string
                    example: "https://storage.eventify.com/invoices/INV-2025-001234.pdf"
                  generatedAt:
                    type: string
                    format: date-time
        '401':
          description: Non autorisé - Token manquant ou invalide
        '403':
          description: Accès interdit - Cette facture ne vous appartient pas
        '404':
          description: Facture non trouvée
  
# ------------------------- RESALE -------------------------
  /api/resale/offers:
    get:
      tags:
        - Resale
      summary: Consulter les offres de revente disponibles
      description: Liste toutes les offres de revente en statut OPEN
      parameters:
        - name: eventId
          in: query
          schema:
            type: string
            format: uuid
          description: Filtrer par evenement specifique
        - name: maxPrice
          in: query
          schema:
            type: number
            format: decimal
          description: Prix maximum
        - name: minPrice
          in: query
          schema:
            type: number
            format: decimal
          description: Prix minimum
      responses:
        '200':
          description: Liste des offres de revente disponibles
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                      example: "resale-uuid-123"
                    originalReservationId:
                      type: string
                      format: uuid
                      example: "reservation-uuid-456"
                    sellerUserId:
                      type: string
                      format: uuid
                      example: "user-uuid-789"
                    price:
                      type: number
                      format: decimal
                      example: 120.00
                    status:
                      type: string
                      enum: [OPEN, SOLD, CANCELLED]
                      example: OPEN
                    createdAt:
                      type: string
                      format: date-time
                      example: "2025-11-20T10:00:00Z"
                    eventDetails:
                      type: object
                      description: Informations sur l'evenement concerne
                      properties:
                        eventId:
                          type: string
                          format: uuid
                        eventTitle:
                          type: string
                          example: "Summer Festival"
                        eventDate:
                          type: string
                          format: date-time
                    seatsDetails:
                      type: array
                      description: Details des places en revente
                      items:
                        type: object
                        properties:
                          ticketType:
                            type: string
                            enum: [VIP, NORMAL, GOLD, EARLY_BIRD]
                            example: "VIP"
                          seatNumber:
                            type: string
                            nullable: true
                            example: "A12"
        '400':
          description: Parametres de requete invalides
        '500':
          description: Erreur serveur

    post:
      tags:
        - Resale
      summary: Mettre une/des places en revente
      description: Cree une offre de revente pour une reservation existante
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - originalReservationId
                - price
              properties:
                originalReservationId:
                  type: string
                  format: uuid
                  example: "reservation-uuid-456"
                  description: ID de la reservation originale a revendre
                price:
                  type: number
                  format: decimal
                  example: 120.00
                  description: Prix de revente propose
      responses:
        '201':
          description: Offre de revente creee avec succes
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: "resale-uuid-123"
                    description: ID de l'offre de revente genere automatiquement
                  originalReservationId:
                    type: string
                    format: uuid
                    example: "reservation-uuid-456"
                  sellerUserId:
                    type: string
                    format: uuid
                    example: "user-uuid-789"
                    description: Extrait du token JWT
                  price:
                    type: number
                    format: decimal
                    example: 120.00
                  status:
                    type: string
                    example: OPEN
                    description: Statut initial de l'offre
                  createdAt:
                    type: string
                    format: date-time
                    example: "2025-11-28T14:30:00Z"
                    description: Date de creation generee automatiquement
        '400':
          description: Donnees invalides - Prix incorrect ou reservation invalide
        '401':
          description: Non autorise - Token manquant ou invalide
        '403':
          description: Acces interdit - Cette reservation ne vous appartient pas
        '404':
          description: Reservation originale non trouvee
        '409':
          description: Conflit - Cette reservation est deja en revente

  /api/resale/offers/{id}:
    get:
      tags:
        - Resale
      summary: Obtenir les details d'une offre de revente
      description: Recupere les informations completes d'une offre de revente specifique
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Details de l'offre de revente
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: "resale-uuid-123"
                  originalReservationId:
                    type: string
                    format: uuid
                  sellerUserId:
                    type: string
                    format: uuid
                  price:
                    type: number
                    format: decimal
                    example: 120.00
                  status:
                    type: string
                    enum: [OPEN, SOLD, CANCELLED]
                    example: OPEN
                  createdAt:
                    type: string
                    format: date-time
                  eventDetails:
                    type: object
                    properties:
                      eventId:
                        type: string
                        format: uuid
                      eventTitle:
                        type: string
                        example: "Summer Festival"
                      eventDate:
                        type: string
                        format: date-time
                  seatsDetails:
                    type: array
                    items:
                      type: object
                      properties:
                        ticketType:
                          type: string
                          enum: [VIP, NORMAL, GOLD, EARLY_BIRD]
                        seatNumber:
                          type: string
                          nullable: true
        '404':
          description: Offre de revente non trouvee
        '500':
          description: Erreur serveur

    delete:
      tags:
        - Resale
      summary: Annuler la revente
      description: Annule une offre de revente et restaure la reservation originale
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Offre de revente annulee avec succes
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: "resale-uuid-123"
                  status:
                    type: string
                    example: CANCELLED
                  message:
                    type: string
                    example: "Resale offer cancelled successfully"
        '400':
          description: Impossible d'annuler - Offre deja vendue ou annulee
        '401':
          description: Non autorise - Token manquant ou invalide
        '403':
          description: Acces interdit - Cette offre ne vous appartient pas
        '404':
          description: Offre de revente non trouvee

  /api/resale/offers/{id}/purchase:
    post:
      tags:
        - Resale
      summary: Reserver la/les places a revendre
      description: Achete une offre de revente et cree une nouvelle reservation pour l'acheteur
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID de l'offre de revente
      responses:
        '201':
          description: Achat effectue avec succes
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactionId:
                    type: string
                    format: uuid
                    example: "resale-trans-uuid-456"
                    description: ID de la transaction de revente genere automatiquement
                  resaleOfferId:
                    type: string
                    format: uuid
                    example: "resale-uuid-123"
                  buyerUserId:
                    type: string
                    format: uuid
                    example: "buyer-uuid-789"
                    description: Extrait du token JWT
                  soldAt:
                    type: string
                    format: date-time
                    example: "2025-11-28T15:00:00Z"
                    description: Date de vente generee automatiquement
                  newReservationId:
                    type: string
                    format: uuid
                    example: "new-reservation-uuid-999"
                    description: ID de la nouvelle reservation creee pour l'acheteur
                  message:
                    type: string
                    example: "Resale purchase completed successfully"
        '400':
          description: Impossible d'acheter - Offre non disponible
        '401':
          description: Non autorise - Token manquant ou invalide
        '403':
          description: Acces interdit - Vous ne pouvez pas acheter votre propre offre
        '404':
          description: Offre de revente non trouvee
        '409':
          description: Conflit - Offre deja vendue ou annulee

  /api/resale/my-offers:
    get:
      tags:
        - Resale
      summary: Consulter mes offres de revente
      description: Liste toutes les offres de revente creees par l'utilisateur connecte
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [OPEN, SOLD, CANCELLED]
          description: Filtrer par statut d'offre
      responses:
        '200':
          description: Liste des offres de revente de l'utilisateur
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    originalReservationId:
                      type: string
                      format: uuid
                    price:
                      type: number
                      format: decimal
                      example: 120.00
                    status:
                      type: string
                      enum: [OPEN, SOLD, CANCELLED]
                    createdAt:
                      type: string
                      format: date-time
                    soldAt:
                      type: string
                      format: date-time
                      nullable: true
                      description: Date de vente (NULL si non vendu)
                    eventDetails:
                      type: object
                      properties:
                        eventId:
                          type: string
                          format: uuid
                        eventTitle:
                          type: string
                        eventDate:
                          type: string
                          format: date-time
        '401':
          description: Non autorise - Token manquant ou invalide
        '500':
          description: Erreur serveur

  /api/resale/my-purchases:
    get:
      tags:
        - Resale
      summary: Consulter mes achats de revente
      description: Liste toutes les offres de revente achetees par l'utilisateur connecte
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Liste des achats de revente de l'utilisateur
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    transactionId:
                      type: string
                      format: uuid
                    resaleOfferId:
                      type: string
                      format: uuid
                    price:
                      type: number
                      format: decimal
                      example: 120.00
                    soldAt:
                      type: string
                      format: date-time
                    newReservationId:
                      type: string
                      format: uuid
                      description: ID de la reservation obtenue via la revente
                    eventDetails:
                      type: object
                      properties:
                        eventId:
                          type: string
                          format: uuid
                        eventTitle:
                          type: string
                        eventDate:
                          type: string
                          format: date-time
        '401':
          description: Non autorise - Token manquant ou invalide
        '500':
          description: Erreur serveur
  # ------------------------- NOTIFICATIONS -------------------------
  /api/notifications/interests:
    post:
      tags:
        - Notifications
      summary: Indiquer son intérêt pour un événement
      description: Permet à un utilisateur de s'inscrire pour être notifié lors de l'ouverture de la billetterie
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - eventId
              properties:
                eventId:
                  type: string
                  format: uuid
                  example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '201':
          description: Intérêt enregistré avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 6748a1b2c3d4e5f6a7b8c9d0
                    description: ID MongoDB de l'intérêt créé
                  userId:
                    type: string
                    format: uuid
                    example: user-uuid-a1b2c3d4-5678-90ab-cdef-123456789012
                    description: Extrait du token JWT
                  eventId:
                    type: string
                    format: uuid
                    example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  eventTitle:
                    type: string
                    example: Summer Festival 2026
                    description: Titre de l'événement concerné
                  notified:
                    type: boolean
                    example: false
                    description: Statut de notification (false par défaut)
                  createdAt:
                    type: string
                    format: date-time
                    example: 2025-11-28T10:30:00Z
                    description: Date de création générée automatiquement
        '401':
          description: Non autorisé - Token manquant ou invalide
        '404':
          description: Événement non trouvé
        '409':
          description: Intérêt déjà enregistré pour cet événement

    get:
      tags:
        - Notifications
      summary: Consulter ses intérêts
      description: Liste tous les événements pour lesquels l'utilisateur a indiqué son intérêt
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Liste des intérêts
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 6748a1b2c3d4e5f6a7b8c9d0
                    eventId:
                      type: string
                      format: uuid
                      example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    eventTitle:
                      type: string
                      example: Summer Festival 2026
                    eventDate:
                      type: string
                      format: date-time
                      example: 2026-07-15T20:00:00Z
                    notified:
                      type: boolean
                      example: false
                    createdAt:
                      type: string
                      format: date-time
                      example: 2025-11-28T10:30:00Z
        '401':
          description: Non autorisé - Token manquant ou invalide

  /api/notifications/interests/{eventId}:
    delete:
      tags:
        - Notifications
      summary: Retirer son intérêt pour un événement
      description: Supprime l'intérêt de l'utilisateur pour un événement spécifique
      security:
        - bearerAuth: []
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID de l'événement
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: Intérêt supprimé avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 6748a1b2c3d4e5f6a7b8c9d0
                    description: ID de l'intérêt supprimé
                  message:
                    type: string
                    example: Interest deleted successfully
        '401':
          description: Non autorisé - Token manquant ou invalide
        '404':
          description: Intérêt non trouvé

  /api/notifications/event-updates:
    post:
      tags:
        - Notifications
      summary: Créer une notification de changement d'événement
      description: Informe automatiquement tous les utilisateurs ayant réservé cet événement
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - eventId
                - updateType
                - description
              properties:
                eventId:
                  type: string
                  format: uuid
                  example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                updateType:
                  type: string
                  enum: [MODIFICATION, CANCELLATION]
                  example: MODIFICATION
                description:
                  type: string
                  example: L'événement est reporté au 15 décembre 2026 en raison de conditions météorologiques
      responses:
        '201':
          description: Mise à jour enregistrée et notifications envoyées
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 6748b5c6d7e8f9a0b1c2d3e4
                    description: ID MongoDB de l'update créé
                  eventId:
                    type: string
                    format: uuid
                    example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  eventTitle:
                    type: string
                    example: Summer Festival 2026
                  updateType:
                    type: string
                    example: MODIFICATION
                  description:
                    type: string
                    example: L'événement est reporté au 15 décembre 2026 en raison de conditions météorologiques
                  affectedUsers:
                    type: integer
                    example: 247
                    description: Nombre d'utilisateurs concernés par ce changement
                  notificationsSent:
                    type: integer
                    example: 247
                    description: Nombre de notifications envoyées avec succès
                  createdAt:
                    type: string
                    format: date-time
                    example: 2025-11-28T14:25:00Z
        '401':
          description: Non autorisé - Token manquant ou invalide
        '404':
          description: Événement non trouvé
        '400':
          description: Données invalides

    get:
      tags:
        - Notifications
      summary: Consulter l'historique des modifications d'événements
      description: Liste toutes les modifications et annulations d'événements
      security:
        - bearerAuth: []
      parameters:
        - name: eventId
          in: query
          schema:
            type: string
            format: uuid
          description: Filtrer par événement spécifique
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        - name: updateType
          in: query
          schema:
            type: string
            enum: [MODIFICATION, CANCELLATION]
          description: Filtrer par type de modification
      responses:
        '200':
          description: Liste des modifications
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 6748b5c6d7e8f9a0b1c2d3e4
                    eventId:
                      type: string
                      format: uuid
                      example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    eventTitle:
                      type: string
                      example: Summer Festival 2026
                    updateType:
                      type: string
                      example: MODIFICATION
                    description:
                      type: string
                      example: L'événement est reporté au 15 décembre 2026
                    affectedUsers:
                      type: integer
                      example: 247
                    createdAt:
                      type: string
                      format: date-time
                      example: 2025-11-28T14:25:00Z
        '401':
          description: Non autorisé - Token manquant ou invalide

  /api/notifications/promotions:
    post:
      tags:
        - Notifications
      summary: Créer une campagne promotionnelle
      description: Envoie une promotion ciblée pour promouvoir un événement
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - eventId
                - message
                - targetUsers
              properties:
                eventId:
                  type: string
                  format: uuid
                  example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                title:
                  type: string
                  example: Offre Early Bird - 30% de réduction
                  description: Titre de la campagne promotionnelle
                message:
                  type: string
                  example: Profitez de -30% sur le Summer Festival 2026 avec le code SUMMER30
                targetUsers:
                  type: array
                  items:
                    type: string
                    format: uuid
                  example: [user-uuid-111, user-uuid-222, user-uuid-333]
                  description: Liste des IDs utilisateurs ciblés
      responses:
        '201':
          description: Campagne créée et envoyée avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 6748c7d8e9f0a1b2c3d4e5f6
                    description: ID MongoDB de la campagne créée
                  eventId:
                    type: string
                    format: uuid
                    example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  eventTitle:
                    type: string
                    example: Summer Festival 2026
                  title:
                    type: string
                    example: Offre Early Bird - 30% de réduction
                  message:
                    type: string
                    example: Profitez de -30% sur le Summer Festival 2026 avec le code SUMMER30
                  targetUsers:
                    type: array
                    items:
                      type: string
                    example: [user-uuid-111, user-uuid-222, user-uuid-333]
                  recipientsCount:
                    type: integer
                    example: 3
                    description: Nombre de destinataires ciblés
                  sentAt:
                    type: string
                    format: date-time
                    example: 2025-11-28T15:00:00Z
                    description: Date d'envoi de la campagne
        '400':
          description: Données invalides - Liste de destinataires vide
        '401':
          description: Non autorisé - Token manquant ou invalide
        '404':
          description: Événement non trouvé

    get:
      tags:
        - Notifications
      summary: Consulter les campagnes promotionnelles
      description: Liste toutes les campagnes promotionnelles créées
      security:
        - bearerAuth: []
      parameters:
        - name: eventId
          in: query
          schema:
            type: string
            format: uuid
          description: Filtrer par événement
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: Liste des campagnes
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 6748c7d8e9f0a1b2c3d4e5f6
                    eventId:
                      type: string
                      format: uuid
                      example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    eventTitle:
                      type: string
                      example: Summer Festival 2026
                    title:
                      type: string
                      example: Offre Early Bird - 30% de réduction
                    message:
                      type: string
                      example: Profitez de -30% sur le Summer Festival 2026
                    recipientsCount:
                      type: integer
                      example: 3
                    sentAt:
                      type: string
                      format: date-time
                      example: 2025-11-28T15:00:00Z
        '401':
          description: Non autorisé - Token manquant ou invalide

  /api/notifications/history:
    get:
      tags:
        - Notifications
      summary: Historique des notifications personnelles
      description: Consulter toutes les notifications reçues par l'utilisateur connecté
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [EMAIL, PUSH, SMS]
          description: Filtrer par type de notification
        - name: status
          in: query
          schema:
            type: string
            enum: [SENT, FAILED]
          description: Filtrer par statut
      responses:
        '200':
          description: Liste des notifications
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 6748d8e9f0a1b2c3d4e5f6a7
                    type:
                      type: string
                      example: EMAIL
                    subject:
                      type: string
                      example: Votre intérêt pour Summer Festival 2026
                    message:
                      type: string
                      example: La billetterie pour le Summer Festival 2026 est maintenant ouverte
                    status:
                      type: string
                      example: SENT
                    sentAt:
                      type: string
                      format: date-time
                      example: 2025-11-28T16:00:00Z
                    createdAt:
                      type: string
                      format: date-time
                      example: 2025-11-28T15:55:00Z
        '401':
          description: Non autorisé - Token manquant ou invalide

  /api/notifications/{id}:
    get:
      tags:
        - Notifications
      summary: Obtenir les détails d'une notification
      description: Récupère les informations complètes d'une notification spécifique
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID MongoDB de la notification
          example: 6748d8e9f0a1b2c3d4e5f6a7
      responses:
        '200':
          description: Détails de la notification
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 6748d8e9f0a1b2c3d4e5f6a7
                  type:
                    type: string
                    example: EMAIL
                  userId:
                    type: string
                    format: uuid
                    example: user-uuid-a1b2c3d4-5678-90ab-cdef-123456789012
                  subject:
                    type: string
                    example: Votre intérêt pour Summer Festival 2026
                  message:
                    type: string
                    example: La billetterie pour le Summer Festival 2026 est maintenant ouverte
                  status:
                    type: string
                    example: SENT
                  sentAt:
                    type: string
                    format: date-time
                    example: 2025-11-28T16:00:00Z
                  createdAt:
                    type: string
                    format: date-time
                    example: 2025-11-28T15:55:00Z
                  metadata:
                    type: object
                    description: Données contextuelles de la notification
                    properties:
                      eventId:
                        type: string
                        format: uuid
                        example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                      eventTitle:
                        type: string
                        example: Summer Festival 2026
                      notificationType:
                        type: string
                        example: INTEREST_CONFIRMATION
        '401':
          description: Non autorisé - Token manquant ou invalide
        '403':
          description: Accès interdit - Cette notification ne vous appartient pas
        '404':
          description: Notification non trouvée
  # ------------------------- DASHBOARD -------------------------
  /api/dashboard:
    get:
      tags:
        - Dashboard Service
      summary: Accéder au Dashboard principal
      description: Affiche une vue d'ensemble avec les statistiques clés et les événements récents
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Dashboard récupéré avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  overview:
                    type: object
                    description: Vue d'ensemble des statistiques principales
                    properties:
                      totalEvents:
                        type: integer
                        example: 156
                        description: COUNT depuis EVENTS
                      totalReservations:
                        type: integer
                        example: 3428
                        description: COUNT depuis RESERVATIONS
                      totalRevenue:
                        type: number
                        format: decimal
                        example: 284567.50
                        description: SUM de TRANSACTIONS.amount où status = SUCCESS
                      totalUsers:
                        type: integer
                        example: 8932
                        description: COUNT depuis USERS
                      activePromotions:
                        type: integer
                        example: 12
                        description: COUNT depuis PROMOTIONAL_CAMPAIGNS
                  recentEvents:
                    type: array
                    description: Liste des 5 événements les plus récents depuis EVENTS
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                          description: EVENTS.id
                        title:
                          type: string
                          example: Summer Festival 2026
                          description: EVENTS.title
                        description:
                          type: string
                          example: Un festival incroyable
                          description: EVENTS.description
                        start_date:
                          type: string
                          format: date-time
                          example: 2026-07-15T20:00:00Z
                          description: EVENTS.start_date
                        end_date:
                          type: string
                          format: date-time
                          example: 2026-07-16T02:00:00Z
                          description: EVENTS.end_date
                        is_available:
                          type: boolean
                          example: true
                          description: EVENTS.is_available
                        venue:
                          type: object
                          description: Depuis VENUES (JOIN)
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                              example: Zénith de Paris
                            capacity:
                              type: integer
                              example: 6000
                            address:
                              type: string
                              example: 211 Avenue Jean Jaurès, 75019 Paris
                        category:
                          type: object
                          description: Depuis CATEGORIES (JOIN)
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                              example: Concert
                        reservationsCount:
                          type: integer
                          example: 245
                          description: COUNT depuis RESERVATIONS WHERE event_id = EVENTS.id
                        totalRevenue:
                          type: number
                          format: decimal
                          example: 18375.00
                          description: SUM de RESERVATIONS.total_amount WHERE event_id = EVENTS.id
                  topEvents:
                    type: array
                    description: Top 5 des événements par nombre de réservations
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                        title:
                          type: string
                          example: Electro Night Paris
                        reservationsCount:
                          type: integer
                          example: 487
                          description: COUNT de RESERVATIONS
                        totalRevenue:
                          type: number
                          format: decimal
                          example: 36525.00
                          description: SUM de RESERVATIONS.total_amount
                        venueCapacity:
                          type: integer
                          example: 6000
                          description: VENUES.capacity
                        occupancyRate:
                          type: number
                          format: float
                          example: 81.2
                          description: CALCUL (reservationsCount / venueCapacity * 100)
        '401':
          description: Non autorisé - Token manquant ou invalide

  /api/dashboard/statistics:
    get:
      tags:
        - Dashboard Service
      summary: Afficher les statistiques détaillées
      description: Récupère des statistiques détaillées avec filtres par période et type
      security:
        - bearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [DAY, WEEK, MONTH, YEAR]
            default: MONTH
          description: Période d'agrégation des statistiques
          example: MONTH
        - name: startDate
          in: query
          schema:
            type: string
            format: date
          description: Date de début pour le filtrage
          example: 2025-01-01
        - name: endDate
          in: query
          schema:
            type: string
            format: date
          description: Date de fin pour le filtrage
          example: 2025-12-31
      responses:
        '200':
          description: Statistiques récupérées avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  period:
                    type: string
                    example: MONTH
                  dateRange:
                    type: object
                    properties:
                      start:
                        type: string
                        format: date
                        example: 2025-11-01
                      end:
                        type: string
                        format: date
                        example: 2025-11-30
[...]
